{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
        @charset "UTF-8";
        html {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            background: #fff;
            color: #666
        }

        body {
            margin: 0
        }

        pre {
            margin: 0 0 20px
        }

        pre {
            font: .875rem/1.5 Consolas, monaco, monospace;
            color: #666;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            overflow: auto;
            padding: 10px;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            background: #fff
        }

        body {
            background-color: #fff
        }
    </style>
    <link rel="preload" href="{% static 'css/style.min.css' %}" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    </noscript>
    <script>!function (t) {
        "use strict";
        t.loadCSS || (t.loadCSS = function () {
        });
        var e = loadCSS.relpreload = {};
        if (e.support = function () {
                var e;
                try {
                    e = t.document.createElement("link").relList.supports("preload")
                } catch (t) {
                    e = !1
                }
                return function () {
                    return e
                }
            }(), e.bindMediaToggle = function (t) {
                var e = t.media || "all";

                function a() {
                    t.media = e
                }

                t.addEventListener ? t.addEventListener("load", a) : t.attachEvent && t.attachEvent("onload", a), setTimeout(function () {
                    t.rel = "stylesheet", t.media = "only x"
                }), setTimeout(a, 3e3)
            }, e.poly = function () {
                if (!e.support())for (var a = t.document.getElementsByTagName("link"), n = 0; n < a.length; n++) {
                    var o = a[n];
                    "preload" !== o.rel || "style" !== o.getAttribute("as") || o.getAttribute("data-loadcss") || (o.setAttribute("data-loadcss", !0), e.bindMediaToggle(o))
                }
            }, !e.support()) {
            e.poly();
            var a = t.setInterval(e.poly, 500);
            t.addEventListener ? t.addEventListener("load", function () {
                e.poly(), t.clearInterval(a)
            }) : t.attachEvent && t.attachEvent("onload", function () {
                    e.poly(), t.clearInterval(a)
                })
        }
        "undefined" != typeof exports ? exports.loadCSS = loadCSS : t.loadCSS = loadCSS
    }("undefined" != typeof global ? global : this);</script>
    <link rel="shortcut icon" href="img/favicons/64x64.png" type="image/png">
    <link rel="icon" href="img/favicons/152x152.png" type="image/png" sizes="152x152">
    <link rel="icon" href="img/favicons/256x256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="img/favicons/512x512.png" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="img/favicons/152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/favicons/256x256.png" sizes="256x256">
    <link rel="apple-touch-icon" href="img/favicons/512x512.png" sizes="512x512">
    <link rel="manifest" href="manifest.json">
</head>
<body>
<header class="uk-container-expand uk-container" uk-sticky="top: 100; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
      <nav class="uk-navbar-container uk-visible@m" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a href="#about-us">О нас</a></li>
            <li><a href="#houses">Коттеджи</a></li>
            <li><a href="#about-K">О Караколе</a></li>
            <li><a href="#advantages">Преимущества</a></li>
            <li><a href="#contacts">Контакты</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li><a href="tel: +(996) 559 - 011 - 376">
                        <img src="{% static 'img/svg/phone.svg' %}" alt=""style="width:20px; height: 20px; margin-right: 3px">
                        +(996) 559 - 011 - 376</a></li>
                    <li><a style="background: none; width: 50px; margin-right: 0 !important;" class="uk-icon-button uk-margin-small-right" href=""
                                               uk-icon="icon: whatsapp"> </a></li>
                    <li><a style="background: none; width: 50px; margin-right: 0 !important;" class="uk-icon-button uk-margin-small-right"
                                                                                href="" uk-icon="icon: facebook"></a></li>
                    <li><a style="background: none; width: 50px; margin-right: 0 !important;" class="uk-icon-button" href="" uk-icon="icon: instagram"></a></li>
          </ul>
        </div>
      </nav>
      <div class="mobile-version uk-hidden@m">
        <div class="boundary-align">
          <button class="uk-button uk-button-default" type="button" uk-icon="list"></button>
          <div class="uk-margin-remove" uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true: offset: 5; mode: click;">
            <ul class="uk-nav uk-dropdown-nav">
              <li><a href="#about-us">О нас</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="#houses">Коттеджи</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="#about-K">О Караколе</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="#advantages">Преимущества</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="#contacts">Контакты</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="tel: +(996) 559 - 011 - 376">+(996) 559 - 011 - 376</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
<section class="uk-position-relative">
      <div class="uk-background-cover uk-height-large-l uk-panel uk-flex uk-flex-left uk-flex-middle" style="background-image: url({% static 'img/jpg/banner.jpg' %});">
        <div class="uk-text-left uk-margin-large-left">
          <div class="text uk-text-center"><img src="{% static 'img/svg/logo.svg' %}" alt="">
            <h1 class="uk-margin-remove-top">ПЕРВЫЙ КОТТЕДЖНЫЙ <br> ГОРОДОК <span> НА ГОРНОЛЫЖНОЙ <br> БАЗЕ КАРАОКОЛ</span></h1>
            <p>Для всех ценителей комфортного <br> отдыха Ski Paradise объявляет <br> открытыми предпродажи коттеджей <br> и квартир</p>
          </div>
        </div>
      </div>
    </section>
<section class="about-us uk-grid uk-child-width-1-1" uk-grid="">
    <div class="items uk-grid uk-flex-middle" id="houses" uk-grid="" style="box-sizing: content-box !important;">
        <div class="slider uk-width-3-4@s uk-width-3-4@l uk-width-1-1">
            <div class="image">
                <div class="right uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; autoplay-interval: 5000">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img class="lazy"
                                                                 data-src="{% static 'img/jpg/image1.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy"
                                                                 data-src="{% static 'img/jpg/image2.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image3.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class=" uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous=""
                       uk-slideshow-item="previous" ></a><a class="uk-position-center-right uk-position-small"
                                                           href="#" uk-slidenav-next=""
                                                           uk-slideshow-item="next" ></a>
                </div>
            </div>
        </div>
        <div class="text uk-width-expand@s uk-width-expand@l uk-width-1-1">
            <div class="text-in uk-text-center">
                <h3 class="heading" style=".heading:before{left: 162px;}">Коттеджи</h3>
                <p class="font-text">Коттеджи в гостиничном комплексе Ski Paradise вида Chale премиум-класса спроектированы в альпийском стиле с возможностью проектирования под ключ. Коттеджи изготовлены из экологически чистого, безопасного и огнестойкого дерева.</p>
            </div>
        </div>
    </div>
    <div class="items uk-grid uk-flex-middle" id="houses" uk-grid="" style="box-sizing: content-box !important;">
        <div class="text uk-width-expand@s uk-width-expand@l uk-width-1-1">
            <div class="text-in uk-text-center">
                <h3 class="heading">Отель "Ski Paradise"</h3>
                <p class="font-text">«Алтай Резорт» единственный в Горном Алтае курортный комплекс премиум-класса,
                    получивший пять звёзд.</p>
            </div>
        </div>
        <div class="slider uk-width-3-4@s uk-width-3-4@l uk-width-1-1">
            <div class="image uk-position-relative">
                <div class="uk-cover-container"><img src="{% static 'img/jpg/image8.jpg' %}" alt="" uk-cover="">
                    <canvas width="990" height="580"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="items uk-grid uk-flex-middle" uk-grid="" style="box-sizing: content-box !important;">
        <div class="slider uk-width-3-4@s uk-width-3-4@l uk-width-1-1">
            <div class="image">
                <div class="right uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; autoplay-interval: 5000">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image3.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image4.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class=" uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image5.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-right uk-transition-slide-right uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous=""
                       uk-slideshow-item="previous" ></a><a class="uk-position-center-right uk-position-small"
                                                           href="#" uk-slidenav-next=""
                                                           uk-slideshow-item="next" ></a>
                </div>
            </div>
        </div>
        <div class="text uk-width-expand@s uk-width-expand@l uk-width-1-1">
            <div class="text-in uk-text-center">
                <h3 class="heading">О нас</h3>
                <p class="font-text">«Алтай Резорт» единственный в Горном Алтае курортный комплекс премиум-класса,
                    получивший пять звёзд.</p>
            </div>
        </div>
    </div>
    <div class="items uk-grid uk-flex-middle" uk-grid="" style="box-sizing: content-box !important;">
        <div class="text uk-width-1-4@s uk-width-1-4@l uk-width-1-1">
            <div class="text-in uk-text-center">
                <h3 class="heading">Коттеджи</h3>
                <p class="font-text">«Алтай Резорт» единственный в Горном Алтае курортный комплекс премиум-класса,
                    получивший пять звёзд.</p>
            </div>
        </div>
        <div class="slider uk-width-3-4@s uk-width-3-4@l uk-width-1-1">
            <div class="image">
                <div class="left uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; autoplay-interval: 5000">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image4.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image5.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image1.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">SPA</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous=""
                       uk-slideshow-item="previous"  ></a><a class="uk-position-center-right uk-position-small"
                                                           href="#" uk-slidenav-next=""
                                                           uk-slideshow-item="next" ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="items uk-grid uk-flex-middle uk-hidden" uk-grid="" style="box-sizing: content-box !important;">
        <div class="slider uk-width-3-4@s uk-width-3-4@l uk-width-1-1">
            <div class="image">
                <div class="left uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; autoplay-interval: 5000">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image2.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image3.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="lazy" data-src="{% static 'img/jpg/image4.jpg' %}" alt=""
                                                                 uk-cover="">
                            <div class="uk-overlay uk-overlay-primary uk-position-left uk-transition-slide-left uk-width-medium uk-flex uk-flex-center uk-flex-middle">
                                <div class="uk-text-center">
                                    <h3 class="heading">Люкс</h3>
                                    <p class="font-text uk-visible@s">«Алтай Резорт» единственный в Горном Алтае
                                        курортный комплекс премиум-класса, получивший пять звёзд.</p>
                                    <p class="price uk-margin-top">450$</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous=""
                       uk-slideshow-item="previous"></a><a class="uk-position-center-right uk-position-small"
                                                           href="#" uk-slidenav-next=""
                                                           uk-slideshow-item="next" ></a>
                </div>
            </div>
        </div>
        <div class="text uk-width-1-4@s uk-width-1-4@l uk-width-1-1">
            <div class="text-in uk-text-center">
                <h3 class="heading">SPA</h3>
                <p class="font-text">«Алтай Резорт» единственный в Горном Алтае курортный комплекс премиум-класса,
                    получивший пять звёзд.</p>
            </div>
        </div>
    </div>
</section>
<div class="get-in-touch">
    <div class="uk-position-bottom-right uk-padding uk-position-fixed">
        <div class="with-tel uk-hidden@s"><a class="uk-icon-button" href="" uk-icon="icon: receiver"></a></div>
        <div class="with-whatsapp"><a class="uk-icon-button" href="https://api.whatsapp.com/send?phone=996559011376"
                                      target="blank" uk-icon="icon: whatsapp"></a></div>
    </div>
</div>
<section class="about-Karakol" id="about-K">
    <div class="img-wrapper uk-background-cover uk-background-fixed uk-height-large-l" style="background-image: url({% static 'img/png/about.png' %});">
        <div class="text-wrapper" id="advantages">
            <h2 class="heading uk-margin-medium-bottom">О Караколе</h2>
            <p class="font-text uk-margin-large-bottom">Карако́л (кирг. Каракол) — город в Кыргызстане, административный
                центр Иссык-Кульской области. В 1889—1922 и 1939—1992 гг. носил название Пржевальск. Население (2017) —
                70,4 тыс. человек. Город известен в СНГ и дальнем зарубежье своими рекреационными возможностями — озеро
                Иссык-Куль, горнолыжная база, горячие источники и условия для экстремальных видов спорта:</p>
            <div class="uk-grid uk-flex-center uk-child-width-1-3@s uk-child-width-1-3@l uk-child-width-1-1" uk-grid=""
                 uk-height-match="target: &gt; div &gt; p">
                <div class="sport-types"><img class="uk-visible@s" src="{% static 'img/svg/parachutist.svg' %}" alt="">
                    <p class="font-text">Парапланинг</p>
                </div>
                <div class="sport-types"><img class="uk-visible@s" src="{% static 'img/svg/cable-car-cabin (1).svg' %}" alt="">
                    <p class="font-text">Горнолыжный <br> спорт</p>
                </div>
                <div class="sport-types"><img class="uk-visible@s" src="{% static 'img/svg/mountain.svg' %}" alt="">
                    <p class="font-text">Альпинизм</p>
                </div>
            </div>
            <div class="uk-grid uk-flex-center uk-child-width-1-3@s uk-child-width-1-3@l uk-child-width-1-1" uk-grid=""
                 uk-height-match="target: &gt; div &gt; p">
                <div class="sport-types"><img class="uk-visible@s" src="{% static 'img/svg/lake.svg' %}" alt="">
                    <p class="font-text">Озеро <br> Иссык-Куль</p>
                </div>
                <div class="sport-types"><img class="uk-visible@s" src="{% static 'img/svg/hot.svg' %}" alt="">
                    <p class="font-text">Горячие <br> источники</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts uk-margin-large-top" id="contacts">
    <div class="uk-text-center">
        <h2 class="heading uk-margin-large-bottom">Контакты</h2><a class="tel" href="tel: (+996) 775  511  111"
                                                                   uk-tooltip="Позвонить нам"><img class="svg-size"
                                                                                                   src="{% static 'img/svg/smartphone (5).svg' %}"
                                                                                                   alt="">
        <p class="font-text uk-margin-remove-top">(+996) 775 511 111</p></a><a class="mail"
                                                                               href="mailto: @skiparadisekg"
                                                                               uk-tooltip="Написать нам"><img
            class="svg-size uk-margin-top" src="{% static 'img/svg/mail.svg' %}" alt="">
        <p class="font-text uk-margin-remove-top">@skiparadisekg</p></a>
        <a class="write uk-button uk-button-default" href="#feedback" uk-toggle>Написать нам</a>
        <div id="feedback" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>
                <form action="">
                    <h3 class="com-header">Напишите нам</h3>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Ваше имя">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Ваш номер телефона">
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Ваше сообщение"></textarea>
                    </div>
                    <div class="uk-margin">
                        <button type="submit " class="uk-button uk-button-default" style="outline: none; background-color: #1fa434; color: white; ">Отправить </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="maps uk-margin-medium-top uk-margin-bottom">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47076.03039383224!2d78.36728046497953!3d42.486197069578566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38865b91e1f04c0b%3A0xeb5bfe3900e7ecfa!2z0JrQsNGA0LDQutC-0Ls!5e0!3m2!1sru!2skg!4v1519465400137"
            width="100%" height="540" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<footer>
    <div class="uk-container uk-container-small">
        <div class="footer-menu uk-visible@s">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="" style="position: relative;">
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li><a href="#about-us">О нас</a></li>
                        <li><a href="#houses">Коттеджи</a></li>
                        <li><a href="#about-K">О Караколе</a></li>
                        <li><a href="#advantages">Преимущества</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="social-icons uk-margin-top uk-margin-bottom">
            <div class="uk-text-center"><a class="uk-icon-button uk-margin-small-right" href=""
                                           uk-icon="icon: whatsapp"> </a><a class="uk-icon-button uk-margin-small-right"
                                                                            href="" uk-icon="icon: facebook"></a><a
                    class="uk-icon-button" href="" uk-icon="icon: instagram"></a></div>
        </div>
        <div class="copyright">
            <div class="uk-text-center">
                <p><a href="http://sunrisestudio.pro/" target="blank">&copy; 2018. Сделано в Sunrise<img
                        class="uk-margin-small-left" src="{% static 'img/sunrise.webp' %}" alt="" width="30px"></a></p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>
</body>
</html>